
<!DOCTYPE html>
<html ng-app="app">
<head>
	<title><%= title %></title>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
  Name: <input type="text" ng-model="search.name">
  <br>
   Beer Type: 
   			<select name="Beer type" ng-model="search.beerType">
			    <option value="search.name">ALL</option>
			    <option value="IPA">IPA</option>
			    <option value="Lager">Lager</option>
			    <option value="SOUR">Sour</option>
			    <option value="ALE">Ale</option>
			    <option value="STOUT">Stout</option>
			    <option value="HEFEWEIZEN">Hefeweizen</option>
		    </select>



  <br>
  Has Happy Hour Now: <input type="checkbox" ng-model="search.happyHour">
  <ul>
    <li ng-repeat="todo in todos | filter: search">	
      <input type="checkbox" ng-model="todo.happyHour">
      <a href="#/{{$index}}">{{todo.name}}</a>
      <span ng-show="todo.happyHour" style="color:green">Happy Hour Now!   {{date | date: 'EEEE' + ', ' +  'h:mma' }}</span>
 	<span ng-if="todo.happyHour" ng-if="todo.happyHourTime" >{{ todo.cost -1 | currency }}</span>
      
    </li>
  </ul>
</script>





<script type="text/ng-template" id="/todoDetails.html">
  <h1>{{ todo.name }}</h1>
  <h3>{{ todo.beerType }}</h3>
  <h3>{{ todo.description }}</h3>

  Happy Hour: <input type="checkbox" ng-model="todo.happyHour">
  note: <textarea>{{ todo.note }}</textarea>
</script>

<script type="text/javascript">
angular.module('app', ['ngRoute'])

    //---------------
    // Services
    //---------------




.factory('Todos', ['$http', function($http){
  return $http.get('/todos');
}])


    //---------------
    // Controllers
    //---------------

.controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
  Todos.success(function(data){

    // Define Scope JS functionality
    $scope.todos = data;
    $scope.date = new Date();

  }).error(function(data, status){
    console.log(data, status);
    $scope.todos = [];
  });

}])


    .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
      $scope.todo = Todos[$routeParams.id];

    }])

    //---------------
    // Routes
    //---------------

    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/todos.html',
          controller: 'TodoController'
        })

        .when('/:id', {
          templateUrl: '/todoDetails.html',
          controller: 'TodoDetailCtrl'
       });
    }]);
    </script>
























