
<!DOCTYPE html>
<html ng-app="app">
<head>
	<title><%= title %></title>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>


<div class="jumbotron"><h1><%= title %></h1>
<p>A menu app that helps users find what beers are on tap near them, happy hour and specials, prices and profile info about the beer</p><p>Part two will be a beer ordering device allowing users to order the beer. By ordering, a message will be sent to the person pouring beers using NexMo node text messaging service</p></div>



<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>



<!-- Main Template -->

<ng-view></ng-view>


<!-- Custom Directive -->
<my-todo title="Beers"></my-todo>




<script src="script.js"></script>

</body>
</html>



