
<!DOCTYPE html>
<html ng-app="app">
<head>
  <title><%= title %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>


<div class="jumbotron">

<h1><%= title %></h1>
<p>user page</p></div>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/users.html">


<h1>{{user.userName}}</h1>

<h1>{{users.userName}}</h1>




</script>

<script type="text/ng-template" id="/userDetails.html">



</script>




<!-- 

ANGULAR APP FUNCTIONALITY 

 -->




<script type="text/javascript">



angular.module('app', ['ngRoute', 'ngResource'])


    //---------------
    // Services
    //---------------




.factory('Users', ['$http', function($http){
  return $http.get('/users');

}])

.factory('Users', ['$resource', function($resource){
          return $resource('/users/:id', null, {
            'update': { method:'PUT' }
          });
        }])


    //---------------
    // Controllers
    //---------------




.controller('UserController', ['$scope', 'users', function ($scope, Users) {
          
          $scope.editing = [];
          $scope.users = Users.query();
          $scope.date = new Date();

      $scope.save = function(){
        if(!$scope.newUser || $scope.newUser.length < 1) return;
        
        var user = new Users({ 
          name: $scope.newUser, 
          happyHour: $scope.happyHour, 
          description: $scope.description,
          brewery: $scope.brewery,
          notes: $scope.notes,
          beerType: $scope.beerType,
          cost: $scope.cost,
        });

        user.$save(function(){
          $scope.users.push(user);
          $scope.newUser = ''; // clear textbox
        });
      }

      $scope.update = function(index){
        var user = $scope.users[index];
        Users.update({id: user._id}, user);
        $scope.editing[index] = false;
      }
      $scope.edit = function(index){
        $scope.editing[index] = angular.copy($scope.users[index]);
      }
      $scope.cancel = function(index){
        $scope.users[index] = angular.copy($scope.editing[index]);
        $scope.editing[index] = false;
      }
      $scope.remove = function(index){
        var user = $scope.users[index];
        Users.remove({id: user._id}, function(){
          $scope.users.splice(index, 1);
        });
      }


        }])


    .controller('UserDetailCtrl', ['$scope', '$routeParams', 'Users', '$location', function ($scope, $routeParams, Users, $location) {

      $scope.user = Users.get({id: $routeParams.id });

     $scope.update = function(){
        Users.update({id: $scope.user._id}, $scope.user, function(){
          $location.url('/');
        });
      }
       
       $scope.remove = function(){
        Users.remove({id: $scope.user._id}, function(){
          $location.url('/');
        });
      }

    }])


    //---------------
    // Routes
    //---------------

    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/users.html',
          controller: 'UserController'
        })

        .when('/:id', {
          templateUrl: '/userDetails.html',
          controller: 'UserDetailCtrl'
       });
    }]);
    
    </script>




</body>
</html>
