body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



img {

	height: 10em;
}

li {
	display: inline-block;
	width: 20em;
	float: right;
	padding: 1em auto;
	margin: .8em auto
}

li::after {
	content: "";
	clear: both;

}

button.btn-primary.ng-scope{


    margin-top: 22em;
    display: inline-block;

    margin-bottom: 2em;
}